<h1 >Agregar un producto</h1>
    <form class="" action="/api/products" method="POST">
        <input name="name" class="form-control" placeholder="Nombre del producto"  required="true">
        <input name="price" class="form-control" placeholder="Precio del producto" required="true">
        <input name="thumbnail" class="form-control" placeholder="URL de la imagen" >
        <button class="my-button" type="submit" value="Agregar">Postear</button>
    </form>
<a class="my-button" href="/products" role="button">Ir a Productos</a>